<!-- Footer -->
<footer class="bg-dark text-center text-white mt-20">
    <!-- Grid container -->
    <div class="container p-4">
        
        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Our library management system project aims to provide a comprehensive solution for managing a library's resources and
                services.​
                The system is designed to streamline and automate the library's daily operations, making it easier for librarians to
                manage the library's inventory, track borrowing and return of books, and ensure the security of user data.​

            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
        
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-align-center">
                    <h5 class="text-uppercase text-center">Contacts Us:-</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p class="text-white">librarymanagementacs@gmail.com</p>
                        </li>
                        
                    </ul>
                </div>
                <!--Grid column-->

                
            </div>
            <!--Grid row-->
        
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" >LibraryManagement</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->