<div class="container text-center" >
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
       
        <form #ResetPassword="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>

            <div class="form-outline mb-4 pt-4" [class.has-error]="password.invalid && password.touched">
              <input required minlength="6" maxlength="20" [(ngModel)]="passwords.newPassword" name="newpassword" type="password"
                id="form3Example3" class="form-control form-control-lg" #password="ngModel" placeholder="Enter New Password">
              <span class="help-block" *ngIf="password.touched && password.errors?.['required']">Password is Required</span>
              <div class="help-block" *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']">
                Password must be at least 6 characters long and not more than 15 characters long.
              </div>
            
            </div>
            <div class="form-outline mb-4">
              <input required ngValidateEqual="newpassword" #modelConfirmPassword="ngModel" [(ngModel)]="passwords.confirmPassword"
                name="confirmpassword" type="password" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter Confirm Password">
              <div *ngIf="(modelConfirmPassword.dirty || modelConfirmPassword.touched) && modelConfirmPassword.invalid">
                <p class="help-block" *ngIf="modelConfirmPassword.hasError('notEqual') && password.valid">
                  Passwords Don't Match
                </p>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="ResetPassword.invalid"
                >Reset Password</button>
        
        </form>
</div>
