<div class="container text-center">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <form #forgetPassword="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
  
            <!-- Email input -->
            <div class="form-outline mb-4" [class.has-error]="email.invalid && email.touched">
                <input required email #email="ngModel" [(ngModel)]="emails.email" name="email" type="email" id="form3Example3"
                    class="form-control form-control-lg" placeholder="Enter an email address" />
                <span class="help-block" *ngIf="email.errors?.['required']  && email.touched">
                    Email is required
                </span>
                <span class="help-block" *ngIf=" email.errors?.['email'] && email.touched">
                    Email is invalid</span>
            
            </div>
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="forgetPassword.invalid"
                >Reset Password</button>
                <ng-http-loader 
    [backdrop]="true"
    [backgroundColor]="'#ff0000'"
    [debounceDelay]="100"
    [extraDuration]="300"
    [minDuration]="300"
    >
</ng-http-loader>
        <div class="d-flex justify-content-between mt-4">
            <a  href="/login">Login</a>
            <a  href="/signup">Register</a>
        </div>
        </form>
</div>
